[user]
	name = andrew webber (personal)
	email = andrewvwebber@googlemail.com
	signingkey = B976107BE2AD4C18
[gpg]
	program = /usr/bin/gpg
[diff "gpg"]
	textconv = gpg --no-tty --decrypt
[alias]
	b    = "branch"
    p    = "pull --rebase origin master"
	ba   = "branch -a"
	st   = "status"
	pl   = "log --pretty=\"%Cgreen%h%Creset – %ai – %s (%Cblueby %an%Creset)\""
	plg  = "log --graph --pretty=\"%Cgreen%h%Creset – %ai – %s (%Cblueby %an%Creset)\""
	lg2  = "log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all"
	slog = "log --pretty=\"%Cgreen%h%Creset – %ai – %s (%Cblueby %cn%Creset)\" HEAD~15..HEAD"
	co   = "checkout"
	cob  = "checkout -b"
	hl   = "log --pretty=\"%h\""
	yolo = "git push --force"
[commit]
	gpgsign = true
