! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! Tango colour theme for rxvt-unicode
URxvt.background: #2E3436
URxvt.foreground: #BBBBBBBBBBBB
URxvt.color0: #17171A1A1B1B
URxvt.color1: #CCCC00000000
URxvt.color2: #4E4E9A9A0606
URxvt.color3: #C4C4A0A00000
URxvt.color4: #34346565A4A4
URxvt.color5: #757550507B7B
URxvt.color6: #060698209A9A
URxvt.color7: #D3D3D7D7CFCF
URxvt.color8: #555557575353
URxvt.color9: #EFEF29292929
URxvt.color10: #8A8AE2E23434
URxvt.color11: #FCFCE9E94F4F
URxvt.color12: #72729F9FCFCF
URxvt.color13: #ADAD7F7FA8A8
URxvt.color14: #3434E2E2E2E2
URxvt.color15: #EEEEEEEEECEC


URxvt*scrollBar:         false
URxvt*scrollBar_right:   false

URxvt*transparent:       false

URxvt*depth: 32

!! Appearance
urxvt.termName: rxvt-unicode
urxvt.scrollBar: false
!! Font prefferenes
urxvt.font: xft:Go Mono for Powerline:pixelsize=16
urxvt.boldFont: xft:Go Mono for Powerline:pixelsize=16:weight=bold
urxvt.letterSpace: -1
!! Larger history limit
urxvt.saveLines: 1000000

!! Perl extensions
!-*- Perl extensions -*-
URxvt.perl-ext-common: default,selection-to-clipboard,pasta,matcher,keyboard-select,font-size
URxvt.url-launcher:   /usr/bin/firefox
URxvt.underlineURLs:  True
URxvt.matcher.button: 1
!!URxvt.keysym.Control-Shift-V:     perl:pasta:paste

!! Copy Paste & Other Extensions
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

URxvt.iso14755: true
URxvt.iso14755_52: false

!!font-size
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show
